<h4>总数：{{ total }}</h4><br/>
<table id="logo_table" cellpadding="0" cellspacing="0" border="0" class="stdtable">
    <thead class="center">
        <tr>
            <td width="20%">邮件组ID</td>
            <td width="20%">邮件组名称</td>
            <td width="30%">备注</td>
            <td width="10%">创建时间</td>
            <td width="10%">更新时间</td>
            <td width="10%">操作</td>
        </tr>
    </thead>
    <tbody class="center">
        {% for entity in entities %}
            <tr>
                <td>{{ entity.groupId }}</td>
                <td>{{ entity.groupName }}</td>
                <td>{{ entity.groupComment }}</td>
                <td>{{ entity.createTime | date('Y-m-d H:i:s') }}</td>
                <td>{{ entity.updateTime | date('Y-m-d H:i:s') }}</td>
                <td class="actions">
                    <a href="{{ path('tool_email_modify', {'group_id' : entity.groupId}) }}" target="_self">修改</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if totalPages > 1 %}
<div class="dataTables_paginate">
    <div id="pager"></div>
</div>
{% endif %}

<input type="hidden" id="totalPages" value="{{ totalPages }}"/>
<input type="hidden" id="p" value="{{ p }}"/>
<input type="hidden" id="pn" value="{{ pn }}"/>
